<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <title>amis demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <link rel="stylesheet" href="../static/sdk/sdk.css"/>
    <link rel="stylesheet" href="../static/sdk/helper.css"/>
    <link rel="stylesheet" href="../static/sdk/iconfont.css"/>
    <!-- 这是默认主题所需的，如果是其他主题则不需要 -->
    <!-- 从 1.1.0 开始 sdk.css 将不支持 IE 11，如果要支持 IE11 请引用这个 css，并把前面那个删了 -->
    <!-- <link rel="stylesheet" href="sdk-ie11.css" /> -->
    <!-- 不过 amis 开发团队几乎没测试过 IE 11 下的效果，所以可能有细节功能用不了，如果发现请报 issue -->
    <style>
        html,
        body,
        .app-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div id="root" class="app-wrapper"></div>
<script src="../static/sdk/sdk.js"></script>
<script type="text/javascript">
    (function () {
        let amis = amisRequire('amis/embed');
        // 通过替换下面这个配置来生成不同页面
        let amisJSON =
            {
                "title": "",
                "remark": "",
                "type": "page",
                "body": {
                    "type": "crud",
                    "draggable": true,
                    "syncLocation": false,
                    "api": "http://localhost:8080/web/page",
                    "data": {
                        "page": 1,
                        "perPage": 10
                    },
                    "keepItemSelectionOnPageChange": true,
                    "autoGenerateFilter": true,
                    "footerToolbar": [
                        "statistics",
                        "switch-per-page",
                        "pagination"
                    ],
                    "columns": [
                        {
                            "name": "id",
                            "label": "Id",
                            "width": 50,
                            "type": "text"
                        },
                        {
                            "name": "uniqueKey",
                            "label": "UniqueKey",
                            "type": "text","searchable": {
                                "type": "input-text",
                                "name": "uniqueKey",
                                "label": "uniqueKey",
                                "placeholder": "输入uniqueKey"
                            }

                        },
                        {
                            "name": "status",
                            "label": "Status",
                            "searchable": {
                                "type": "select",
                                "name": "status",
                                "label": "Status",
                                "placeholder": "choose statue",
                                "options": [
                                    {
                                        "label": "init",
                                        "value": "1"
                                    },
                                    {
                                        "label": "success",
                                        "value": "3"
                                    },
                                    {
                                        "label": "fail",
                                        "value": "-9"
                                    }
                                ]
                            }
                        },
                        {
                            "name": "status",
                            "label": "Status",
                            "type": "text"
                        },
                        {
                            "name": "pushTopic",
                            "label": "PushTopic",
                            "type": "text"
                        },
                        {
                            "name": "pushTag",
                            "label": "PushTag",
                            "type": "text"
                        },
                        {
                            "name": "pushBody",
                            "label": "PushBody",
                            "type": "text"
                        },
                        {
                            "name": "expectPushTime",
                            "label": "ExpectPushTime",
                            "type": "text"
                        },
                        {
                            "name": "receiveTime",
                            "label": "ReceiveTime",
                            "type": "text"
                        },
                        {
                            "name": "createTime",
                            "label": "CreateTime",
                            "type": "text"
                        },
                        {
                            "name": "createTime",
                            "label": "CreateTime",
                            "type": "text"
                        },
                        {
                            "name": "resp",
                            "label": "Resp",
                            "type": "text"
                        },
                        {
                            "name": "realPushTime",
                            "label": "RealPushTime",
                            "type": "text"
                        }
                    ]
                }
            }
        let amisScoped = amis.embed('#root', amisJSON);
    })();
</script>
</body>
</html>